<!DOCTYPE html>
<html>
  <head>
    <title>Spoof Maker || kpoovakan</title>
    <link rel="shortcut icon" type="image/png" href="/spoofmaker/favicon.png">
    <link rel="stylesheet" type="text/css" href="/spoofmaker/style.css">
    <!-- The following code connects to the Google Font API -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton+SC&family=LXGW+WenKai+Mono+TC:wght@400;700&display=swap" rel="stylesheet">
    <!-- This is the end of the fonts section of code -->
  </head>
  <body>
    <p><span class="title">Spoof Maker</span>
    <span class="info">return to <a href="/spoofmaker">homepage</a></p>
    <p class="heading">templates</p>
    <!-- insert stuff here -->
    <pre></pre>
  </body>
</html>
