<!DOCTYPE html>
<html>
  <head>
    <title>Spoof Maker || kpoovakan</title>
    <link rel="shortcut icon" type="image/png" href="/spoofmaker/favicon.png">
    <link rel="stylesheet" type="text/css" href="/spoofmaker/style.css">
    <!-- The following code connects to the Google Font API -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton+SC&family=LXGW+WenKai+Mono+TC:wght@400;700&display=swap" rel="stylesheet">
    <!-- This is the end of the fonts section of code -->
  </head>
  <body>
    <p><span class="title">Spoof Maker</span>
    <span class="info">return to <a href="/spoofmaker">homepage</a></p>
    <p class="heading">templates</p>
    <p class="input" style="a:link, a:visited {color: whiteSmoke; text-decoration: none; font-weight: 700;} a:hover {color: lawnGreen;}">
      <a href="javascript:void(0)" onclick="v1js()">v1.js</a> 
      <a href="javascript:void(0)" onclick="v1css()">v1.css</a> 
      <a href="javascript:void(0)" onclick="v2txt()">v2.html</a> <!-- Don't forget to add a space after each </a> -->
    </p>
    <div id="viewer" class="input"><p>Enable JavaScript.</p></div>
    <script src="script.js"></script>
  </body>
</html>
