<!DOCTYPE html>
<html>
  <head>
    <title>Spoof Maker || kpoovakan</title>
    <link rel="shortcut icon" type="image/png" href="/spoofmaker/favicon.png">
    <link rel="stylesheet" type="text/css" href="/spoofmaker/style.css">
    <!-- The following code connects to the Google Font API -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton+SC&family=LXGW+WenKai+Mono+TC:wght@400;700&display=swap" rel="stylesheet">
    <!-- This is the end of the fonts section of code -->
    <!--
      <script>
        "use strict";
        window.onload = info
        
        function softWrap() {
          const iframe = document.getElementById("embed");
          iframe.onload = function() {
            const style = document.createElement("style");
            style.innerHTML = "body {overflow-wrap: break-word; white-space: normal;}";
            iframe.contentWindow.document.head.appendChild(style);
          };
        }
        
        function info() {
          document.getElementById("viewer").innerHTML = `<p>select one of the options above to view the templates for finished Spoofs.</p>`;
        }
        
        function v1js() {
          document.getElementById("viewer").innerHTML = `<iframe id="embed" src="v1.js" width="100%" height="500px"></iframe>`;
          softWrap();
        }
        
        function v1css() {
          document.getElementById("viewer").innerHTML = `<iframe id="embed" src="v1.css" width="100%" height="500px"></iframe>`;
          softWrap();
        }
        
        function v2txt() {
          document.getElementById("viewer").innerHTML = `<iframe id="embed" src="v2.txt" width="100%" height="500px"></iframe>`;
          softWrap();
        }
      </script>
    -->
  </head>
  <body>
    <p><span class="title">Spoof Maker</span>
    <!-- <span class="info">return to <a href="/spoofmaker">homepage</a></p> -->
    <p style="text-align: justify;">the "templates" folder holds documentary files containing the templates for finished Spoofs. your finished Spoof may closely match the most recent template. explore all templates <a href="https://github.com/kpoovakan/spoofmaker/tree/main/templates" target="_blank">here</a>, or return to <a href="/spoofmaker">Spoof Maker</a>.</p>
    <!-- <p class="heading">templates</p>
    <p class="input" style="a:link, a:visited {color: whiteSmoke; text-decoration: none; font-weight: 700;} a:hover {color: lawnGreen;} display:block;">
      <a href="javascript:void(0)" onclick="v1js()">v1.js</a> 
      <a href="javascript:void(0)" onclick="v1css()">v1.css</a> 
      <a href="javascript:void(0)" onclick="v2txt()">v2.html</a> //don't forget to add spaces after each </a>
    </p>
    <div id="viewer" style="display:block;"><p>Enable JavaScript.</p></div> -->
  </body>
</html>
